<p>새로운 언어로 이 사이트를 번역해준 사람들 킹왕짱, 니네가 최고임!
{% include "partials/collaborator-list.njk" %}. 에 덧붙여 추가 도움 {% include "partials/otherhelper-list.njk" %}</p>

<p>니 언어로 바꾸는데 도움을 주고 싶으면, PR 을 {% github_link %} 로 제출하셈.</p>