<footer>
    <small class="contact">너의 이런, git 순간은 뭐임? 공유바람!</small>
    <small class="twitter">{% twitter_link "ohshitgit" %} {% twitter_link "ksylor" %}</small>
    <small class="copyright">{{site.copyright | safe}}</small>
</footer>