<p>Git 은 어렵다: 뭔가 잘못되기는 정말 쉽고, 해결방법을 찾는 건 거의 불가능하다. Git 문서는 닭과 달걀이고 <em>이미 모든 것을 알고 있지 않는 이상</em> 해결책을 거기서 찾는 건 불가능하다.</p>

<p>여기 <em>순수한 한국말</em>로 작성된 내게 일어났던 몇몇 악몽의 순간들이 있다, 내가 그 악몽에서 탈출한 방법과 함께.</p>
